# RL
stable-baselines3[extra]==2.3.2
gymnasium==0.29.1
shimmy>=0.2.0

torch==2.3.0
torchvision==0.18.0

# Numerics
numpy==1.26.4
scipy==1.13.0

# Monitoring
tensorboard==2.17.0

# Model export
onnx==1.16.1
onnxruntime==1.18.0

# Utilities
tqdm
matplotlib